{% extends 'base.html' %}
{% block title %}
ForgotPassword
{% endblock %}
<h3>Set New Password</h3>
{% block content %}
<form method="post">
    <p>{{form.email.label}} {{form.email()}}</p>
    {% if form.email.errors %}
    {% for error in form.email.errors %}
    <span>{{ error }}</span>
    {% endfor %}
    {% endif %}

    <p>{{form.username.label}} {{form.username()}}</p>
    {% if form.username.errors %}
    {% for error in form.username.errors %}
    <span>{{ error }}</span>
    {% endfor %}
    {% endif %}

    <p>{{ form.submit()}}</p>
    {{ form.hidden_tag() }}
</form>
{% endblock %}